.git
**/.git
.runtime
**/.runtime
**/target
**/node_modules
**/dist
**/.cache
**/.env*
**/application.properties
**/*.jar
**/*.zip
**/*.log
**/*.jks
**/*.sso
**/*.p12
**/*.pem
**/*.key
**/wallet
**/Wallet*
